@import 'var';

.menu__list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  list-style: none;
  color: white;
  background: linear-gradient($play-color, $play-color-gradient);
  height: 100%;
  margin: 0;
  padding-top: 110px;
  width: 250px;
  transform: translateX(-290px);
  transition: transform .5s ease;
  font-size: 25px;
  font-weight: 500;
  line-height: 42px;
  z-index: 5;

  & a {
    text-decoration: none;
    transition: all .3s ease;
    display: inline-block;
    color: white;

    &:visited {
      color:  inherit;
    }

    &:hover {
      transform: translate(-3px, 1px);
      font-size: 27px;
      color:  inherit;
      text-decoration: underline;
    }
  }

  .active-menu-link {
    text-decoration: underline;
  }
  &.game-on {
    background: $gradient-game-on;
  }
}
