$brand-color: rgb(35, 165, 155);;
$play-color: rgb(35, 165, 155);
$play-color-gradient: rgb(75, 175, 125);
$hamburger-line: rgb(112, 198, 222);
$transition: all .2s linear;
$gradient-game-on: linear-gradient(rgb(222, 117, 43), rgb(243, 189, 143));
$game-on-color: rgb(222, 117, 43);
$table-border: 1px solid rgb(240, 240, 240);
